@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.700");
    border-right-color: theme("colors.accent.500");
    animation: rotate 1s infinite linear;
    box-shadow: 0 0 1rem theme("colors.accent.500 / 25%");
  }

  .spinner-mini {
    margin: 0;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.600");
    border-right-color: theme("colors.accent.400");
    animation: rotate 1s infinite linear;
    box-shadow: 0 0 0.5rem theme("colors.accent.400 / 20%");
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}


/* For data picker */
/* .rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
} */
